*.obj
*.pdb
*.log
*.tlog
*.suo
*.lib
*.iobj
*.ipdb
*.idb
*.exp
*.ilk
SpoutControls4vvvv/include/SPOUT_LIBRARY/Binaries/Win32/SpoutLibrary.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Binaries/x64/SpoutLibrary.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/cbSpoutLibraryReceiver.exe
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/cbSpoutLibraryReceivers.exe
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/cbSpoutLibrarySender.exe
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/cbSpoutLibrarySenderReceiver.exe
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/data/SpoutBox1.png
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/fmodex.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/FreeImage.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/glut.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/libassimp.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/libfreetype-6.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/qtmlClient.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/SpoutLibrary.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/bin/zlib1.dll
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/cbSpoutLibrary.cbp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibraryReceiver/main.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibraryReceiver/ofApp.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibraryReceiver/ofApp.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibraryReceivers/main.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibraryReceivers/ofApp.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibraryReceivers/ofApp.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibrarySender/main.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibrarySender/ofApp.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibrarySender/ofApp.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibrarySenderReceiver/main.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibrarySenderReceiver/ofApp.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/cbSpoutLibrarySenderReceiver/ofApp.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/main.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/ofApp.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/ofApp.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/cbSpoutLibrary/src/SpoutLibrary.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/Example/readme.txt
SpoutControls4vvvv/include/SPOUT_LIBRARY/Include/SpoutLibrary.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/readme.txt
SpoutControls4vvvv/include/SPOUT_LIBRARY/VS2012/SpoutLibrary.cpp
SpoutControls4vvvv/include/SPOUT_LIBRARY/VS2012/SpoutLibrary.h
SpoutControls4vvvv/include/SPOUT_LIBRARY/VS2012/SpoutLibrary.sln
SpoutControls4vvvv/include/SPOUT_LIBRARY/VS2012/SpoutLibrary.vcxproj
SpoutControls4vvvv/include/SPOUT_LIBRARY/VS2012/SpoutLibrary.vcxproj.filters
SpoutControls4vvvv/include/VS2010/README.md
SpoutControls4vvvv/include/VS2010/SpoutSDK.sln
SpoutControls4vvvv/include/VS2010/SpoutSDK.vcxproj
SpoutControls4vvvv/include/VS2012/Binaries/Win32/Spout.dll
SpoutControls4vvvv/include/VS2012/Binaries/x64/Spout.dll
SpoutControls4vvvv/include/VS2012/SpoutSDK.sln
SpoutControls4vvvv/include/VS2012/SpoutSDK.vcxproj
x64/Debug/SpoutControls4vvvv.dll
Debug/SpoutControls4vvvv.dll
